<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <ul class="list-group">
      <a 
      *ngFor="let ingre of ingredient"
      style="cursor: pointer;" 
      class="list-group-item">
      {{ingre.name}} ({{ingre.amount}})
    </a>
    </ul>
  </div>
</div>